<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- BootStrap CSS File -->
    <link th:href="@{/css/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/assets/css/style.css}" rel="stylesheet">
    <!-- CSS File -->
    <link th:href="@{/css/guidebook.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>이용안내 | 대여대여</title>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-S11E29LT0T');
    </script>
    <!-- Google Tag Manager -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-58QHFKS');
        /*]]>*/
    </script>
    <!-- End Google Tag Manager -->
</head>
<body>
<div id="wrapper">
    <div th:replace="~{/includes/header :: header(isLogined = ${isLogined}, isAdmin = ${isAdmin})}"></div>
    <div id="container">
        <div class="content_title">자주 묻는 질문</div>
        <div class="content">
            <!--
            <div class="search_field">
                <select class="form-select">
                    <option value="1" selected>전체</option>
                    <option value="2">제목</option>
                    <option value="2">내용</option>
                </select>
                <label class="search">
                    <input type="text" placeholder="검색어를 입력하세요.">
                </label>
                <a href="" class="search_btn">검색</a>
            </div>
            -->
            <div class="list_wrap">
                <h5 class="total icon">총 <span class="emphasis">4</span> 건</h5>
                <ul class="list">
                    <li class="item" th:each="i : ${#numbers.sequence(1,4)}">
                        <div class="collapsible" onclick="toggleActive(this)">
                            <div class="question"><span>Q</span></div>
                            <textarea class="item_title" oninput="resizeHeight(this)" disabled th:text="질문 + ${i}"></textarea>
                            <div class="clps_icon"></div>
                        </div>
                        <div class="item_content">
                            <div class="answer"><span>A</span></div>
                            <textarea class="item_txar" oninput="resizeHeight(this)" disabled th:text="답변 + ${i}"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="~{/includes/footer}"></div>
</div>

<script th:src="@{/js/guidebook.js}"></script>
<script th:src="@{/js/resizeHeight.js}"></script>
</body>
</html>