:root {
    --background: #D9D9D9;
    --daeyeo: #3B71CA;
    --border: #CACFD3;
}

body {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.board {
    margin: -10px;
}

.board > li {
    float: left;
    width: 33.33%;
}

.board > li > a {
    display: block;
    margin: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.img_box {
    height: 255px;
    border-bottom: 1px solid var(--border);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    overflow: hidden;
}

.state {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    background: var(--daeyeo);
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}

.img_box img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    padding: 30px;
}

.top_box {
    margin-bottom: 10px;
}

.top_box li {
    float: left;
    padding-right: 20px;
    position: relative;
}

.top_box li:first-child:after {
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background: var(--border);
    position: absolute;
    top: 4px;
    right: 10px;
}

.title {
    margin-bottom: 10px;
    height: 2.8em;
    line-height: 1.4;
    font-size: 22px;
    font-weight: 1000;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.middle_box li {
    margin-bottom: 10px;
    padding-left: 110px;
    position: relative;
}

.icon {
    display: block;
    padding-left: 30px;
    color: var(--daeyeo);
    position: absolute;
    top: 2px;
    left: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px auto;
}

.obj {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1.4em;
}

.place {
    background-image: url("../img/place_icon.png");
}

.price {
    background-image: url("../img/money_icon.png");
}

.reception_period {
    background-image: url("../img/calendar_icon.png");
}

.use_period {
    background-image: url("../img/clock_icon.png");
}

.bottom_box {
    margin-top: 20px;
}

.board:after, .top_box:after, .bottom_box:after {
    content: '';
    display: block;
    clear: both;
}

.reservation {
    float: right;
}

.reservation li {
    float: left;
}

.reservation li img{
    width: 32px;
    height: auto;
    margin-left: 10px;
}