@import './color.css';

a {
    text-decoration: none;
}

.a-btn {
    background: var(--daeyeo);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}

.a-btn:hover {
    background-color: var(--hover-daeyeo);
    color: #FFFFFF;
}

.container {
    max-width: none;
    padding: 0;
}

.search-container {
    display: inline-block;
    width: 100%;
    background-color: var(--background);
}

.search-content{
    max-width: 1080px;
    margin: 100px auto 50px;
    padding: 0 10px;
}

.search-field {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
    filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.25));
}

.search:focus-within {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--input-focus);
}

.search > input {
    width: 100%;
    border: 0;
    font-size: 17px;
    font-weight: 500;
    padding: 0 20px;
    outline: none;
}

.search-btn {
    min-width: 130px;
    border-radius: 30px;
    padding: 13px;
}

.reserve-tab {
    background-color: var(--daeyeo);
    border-radius: 15px;
    overflow: hidden;
    font-size: 18px;
    filter: drop-shadow(7px 7px 20px rgba(0, 0, 0, 0.25));
    margin-top: 70px;
}

.reserve-tab ul {
    border: none;
    background-color: #FFFFFF;
    font-weight: 700;
}

.regional-base {
    background-color: var(--daeyeo);
    border-top-right-radius: 15px;
    margin-right: 15px;
}

.regional-base > .nav-link {
    color: #FFFFFF;
    border: none;
    border-top: 3px solid transparent;
    padding: 19px 50px;
}

.regional-base > .nav-link:hover {
    color: #FFFFFF;
    border-color: transparent;
}

.reserve-tab .nav-item .nav-link {
    border: none;
    padding: 19px 30px;
    margin: 0 15px;
    color: #000000;
    border-top: 3px solid transparent;
    border-radius: 0;
    background-color: transparent;
    transition: color .15s ease-in-out;
}

.reserve-tab .nav-item .nav-link.active {
    color: var(--daeyeo);
    border-color: var(--daeyeo);
}

.reserve-tab .nav-item .nav-link:hover {
    color: var(--daeyeo);
}

.tab-content {
    display: flex;
    padding: 35px 50px;
    font-size: 16px;
    font-weight: 600;
}

.tab-content > select {
    margin-right: 30px;
}

.sido {
    width: 33%;
}

.sigungu {
    width: 28%;
}

.sub-category {
    width: 40%;
}

.reserve-btn {
    min-width: 100px;
    color: #212529;
    background-color: #FFFFFF;
    margin-left: 30px;
}

.reserve-btn:hover {
    color: var(--daeyeo);
    background-color: #FFFFFF;
}

.main-content {
    max-width: 1080px;
    margin: 60px auto;
    padding: 0 10px;
}

.recent-service > h3 {
    font-weight: 1000;
}

.recent-service > h3 > span {
    color: var(--daeyeo);
}

/* Slider */
.slider-box {
    height: 325px;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    transition: transform .3s;
}

/* Cards */
.slider > .card {
    width: 230px;
    color: var(--daeyeo);
    margin: 25px 20px 40px;
}

.slider > .card:hover {
    transform: scale(1.02);
}

.slider .card-img-top {
    height: 180px;
    object-fit: contain;
}

.card-body {
    padding: 5px 20px;
}

.breadcrumb {
    --bs-breadcrumb-divider: '|';
    font-weight: 500;
    margin: 0;
}

.breadcrumb .breadcrumb-item:before {
    line-height: 18px;
}

.slider .card-text,
.news > .item .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color: #000000;
}
/* End Cards */

.indicator {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: var(--background);
    cursor: pointer;
}

.indi-bar {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 300%;
    width: 20%;
    background: var(--daeyeo);
    border-radius: 3px;
    transition: all .2s;
}
/* End Slider */

.card-field {
    display: flex;
    height: 400px;
    margin-top: 50px;
}

.card-field > .card {
    flex: 1;
    margin-right: 40px;
}

.card-field > .card:last-child {
    margin-right: 0;
}

.card-header {
    height: 50%;
    padding: 0 20px;
}

.card-header:last-child {
    border: none;
}

.registration,
.management {
    text-align: center;
}

.card-header .a-btn {
    display: inline-block;
    line-height: 20px;
}

.reservation-info .card-title,
.reservation-info .card-title > span{
    font-size: 20px;
    font-weight: 700;
}

.detail span {
    color: var(--daeyeo);
}

.news > .item {
    display: flex;
    height: 80px;
    margin-bottom: 20px;
}

.news > .item:hover {
    transform: scale(1.02);
}

.news > .item > img {
    width: 80px;
}

.question {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), auto));
    grid-template-rows: calc(50% - 20px) calc(50% - 20px);
    width: 30%;
    background-color: var(--daeyeo);
    padding: 20px 20px 0;
    gap: 20px;
}

.balloon {
    position: relative;
    color: #000000;
    font-size: 16px;
    word-break: break-all;
    background: #FFFFFF;
    border-radius: .4em;
    padding: 15px;
    margin-bottom: 20px;
}

.balloon:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #FFFFFF;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.balloon.left:after {
    left: 20%;
    border-left: 0;
}

.balloon.right:after {
    right: 20%;
    border-right: 0;
}

.balloon:first-child {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.balloon:hover:not(:first-child) {
    color: var(--daeyeo);
    transform: scale(1.02);
}

.balloon > span {
    font-size: 25px;
    color: var(--daeyeo);
    margin-top: -8px;
    margin-right: 5px;
}