<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer_bottom.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/myPage.css}">

    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>마이페이지</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link th:href="@{/css/assets/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/css/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/css/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/assets/css/style.css}" rel="stylesheet">


</head>
<body>

<div class="body_container">
    <!-- include 문도 Thymeleaf에서 사용 가능하며, 태그의 th:include 속성을 사용하면 됩니다. -->
    <div th:replace="~{/includes/header :: header(isLogined = ${isLogined}, isAdmin = ${isAdmin})}"></div>
    <div class="main_content">


        <!-- ======= Sidebar ======= -->
        <div class="my_content">

            <!-- 왼쪽 표 -->
            <div class="divInform">
                <table class="inFormTable">
                    <tr>
                        <th colspan="2">이동하기</th>
                    </tr>
                    <tr>
                        <td><a class="nav-link collapsed" href="/myPage"><i class="bi bi-person"></i> 내 정보</a></td>
                    </tr>
                    <tr>
                        <td><a class="nav-link collapsed" th:href="@{/myPage/myWishList}"><i
                                class="bi-cart"></i> 찜한 목록</a></td>
                    </tr>

                    <tr>
                        <td><a class="nav-link collapsed" th:href="@{/myPage/reservation}"><i
                                class="bi-calendar-week"></i> 예약 기록</a></td>
                    </tr>

                    <tr>
                        <td><a class="nav-link collapsed" th:href="@{/myPage/rentalManage}"><i
                                class="bi-table"></i> 대여 관리</a></td>
                    </tr>
                    <tr>
                        <td><a class="nav-link collapsed" th:href="@{/myPage/rentalLog}"><i
                                class="bi-cart-check"></i> 대여 기록</a></td>
                    </tr>
                    <tr>
                        <td><a class="nav-link collapsed" th:href="@{/myPage/memberManage}"><i
                                class="bi-person-lines-fill"></i> 회원 관리</a></td>
                    </tr>
                </table>
            </div>
            <!-- End Sidebar-->
            <div class="pagetitle">
                <h1>나의 대여 관리</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">MyPage</li>
                        <li class="breadcrumb-item active">Manage</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">작성한 대여 게시글</h5>

                            <button id="openModalButton" data-bs-target="#modalContainer">대여 대기</button>


                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th>장소명</th>     <!-- rentalObjectname -->
                                    <th>주소</th>       <!-- address -->
                                    <th>세부주소</th>
                                    <th>총 예약 수</th>  <!-- rentalStatus 의 갯수 -->
                                    <th>성사 수</th>  <!-- rentalStatus 의 Status 의 상태가 대여 완료 인 갯수  -->
                                    <th>예약 대기 수</th> <!-- rentalStatus 의 Status 의 상태가 대기 인 갯수 -->
                                    <th>받지못한 예약 수(보류)</th> <!-- rentalStatus 의 예약대기인데 예약을 무시한경우 -->
                                    <th>거절한 예약 수</th>
                                    <th>수정</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="rentalObjectDto : ${rentalObjectManageDtoList}">
                                    <td>
                                        <a class="btn btn-danger"
                                           th:href="'javascript:showRentalStatusModal(' + ${rentalObjectDto.objectIndex} + ')'"
                                           th:text="${rentalObjectDto.objectName}"></a>
                                    </td>
                                    <td th:text="${rentalObjectDto.address}"></td>
                                    <td th:text="${rentalObjectDto.detailAddress}"></td>
                                    <td th:text="${rentalObjectDto.statusCount}"></td>
                                    <td th:text="${rentalObjectDto.statusCompleted}"></td>
                                    <td th:text="${rentalObjectDto.statusPending}"></td>
                                    <td th:text="${rentalObjectDto.statusHold}"></td>
                                    <td th:text="${rentalObjectDto.statusCancel}"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </section>


            <section class="section">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">대여 신청 목록</h5>
                                <table class="table datatable">
                                    <thead>
                                    <tr>
                                        <th>대여한게시물제목</th>
                                        <th>빌리고싶은사람</th>
                                        <th>빌리고싶은날짜</th>
                                        <th>빌리고싶은시간</th>
                                        <th>반납시간</th>
                                        <th>현재상태</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rentalStatus : ${rentalStatusListBefore}">
                                        <td th:text="${rentalStatus.getRentalObject().objectName}"></td>
                                        <td th:text="${rentalStatus.getMember().getNickname()}"></td>
                                        <td th:text="${rentalStatus.rentalDate}"></td>
                                        <td th:text="${rentalStatus.startTime}"></td>
                                        <td th:text="${rentalStatus.endTime}"></td>
                                        <td th:text="${rentalStatus.getStatus().getLabel()}"></td>
                                        <td><a th:if="${rentalStatus.getStatus().getLabel() == '대기'}" href="#"
                                               th:href="'javascript:permit('+${rentalStatus.getRentalStatusId()}+')'"
                                               class="btn btn-danger">수락하기</a></td>
                                        <td><a th:if="${rentalStatus.getStatus().getLabel() == '대기'}" href="#"
                                               th:href="'javascript:cancel('+${rentalStatus.getRentalStatusId()}+')'"
                                               class="btn btn-danger">거절하기</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">대여 신청 기록</h5>
                                <table class="table datatable">
                                    <thead>
                                    <tr>
                                        <th>대여한게시물제목</th>
                                        <th>빌리고싶은사람</th>
                                        <th>빌리고싶은날짜</th>
                                        <th>빌리고싶은시간</th>
                                        <th>반납시간</th>
                                        <th>결과상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rentalStatus : ${rentalStatusListAfter}">
                                        <td th:text="${rentalStatus.getRentalObject().objectName}"></td>
                                        <td th:text="${rentalStatus.getMember().getNickname()}"></td>
                                        <td th:text="${rentalStatus.rentalDate}"></td>
                                        <td th:text="${rentalStatus.startTime}"></td>
                                        <td th:text="${rentalStatus.endTime}"></td>
                                        <td th:text="${rentalStatus.getStatus().getLabel()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal-container" id="modalContainer" th:fragment="modal">
    <!-- 모달 내용 -->
    <div class="modal-content">
        <span class="close" id="closeModalButton" data-bs-target="#modalContainer">&times;</span>

        <h2 style="color: #000000;">대여 대기 목록</h2>
        <table class="table datatable" id="rentalStatusTable">
            <thead>
            <tr>
                <th>대여한게시물제목</th>
                <th>빌리고싶은사람</th>
                <th>빌리고싶은날짜</th>
                <th>빌리고싶은시간</th>
                <th>반납시간</th>
                <th>상태선택</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rentalStatus : ${result}">
                <td th:text="${rentalStatus.getRentalObject().getObjectName()}"></td>
                <td th:text="${rentalStatus.getMember().getNickname()}"></td>
                <td th:text="${rentalStatus.getRentalDate()}"></td>
                <td th:text="${rentalStatus.getStartTime()}"></td>
                <td th:text="${rentalStatus.getEndTime()}"></td>
                <td><a th:if="${rentalStatus.getStatus().getLabel() == '대기'}" href="#"
                       th:href="'javascript:permit('+${rentalStatus.getRentalStatusId()}+')'"
                       class="btn btn-danger">수락하기</a></td>
                <td><a th:if="${rentalStatus.getStatus().getLabel() == '대기'}" href="#"
                       th:href="'javascript:cancel('+${rentalStatus.getRentalStatusId()}+')'"
                       class="btn btn-danger">거절하기</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="modal-container" id="rentalObjectModal" th:fragment="modal">
    <div class="modal-content">
        <span class="close" id="closeRentalModalButton" data-bs-target="#rentalObjectModal">&times;</span>

        <h2 style="color: #000000;">대여 목록</h2>
        <table class="table datatable">
            <thead>
            <tr>
                <th>대여한게시물제목</th>
                <th>빌리고싶은사람</th>
                <th>빌리고싶은날짜</th>
                <!--                        <th>빌리고싶은시간</th>-->
                <!--                        <th>반납시간</th>-->
                <!--                        <th>상태선택</th>-->
            </tr>
            </thead>
            <tbody id="rentalStatusTableBody">
            </tbody>
        </table>
    </div>
</div>


<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/css/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/css/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/css/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/css/assets/vendor/quill/quill.min.jss}"></script>
<script th:src="@{/css/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/css/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/css/assets/vendor/php-email-form/validate.js}"></script>
<!-- Template Main JS File -->
<script th:src="@{/css/assets/js/main.js}"></script>
<script defer src="/js/rental/rentalManage.js"></script>

<div th:include="/includes/footer"></div>
</body>
</html>