@import '../color.css';

body {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contents {
    max-width: 1080px;
    margin: 50px auto 60px;
    padding: 0 10px;
}

.category_wrap {
    margin-bottom: 30px;
    padding: 15px;
    background: var(--background);
    border-radius: 30px;
}

.category_list .item {
    display: block;
    float: left;
    width: calc(16.66% - 10px);
    height: 60px;
    line-height: 60px;
    margin: 5px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 18px;
}

.category_list .item.active {
    background-color: var(--daeyeo);
    color: #FFFFFF;
}

.search {
    margin-top: 30px;
    text-align: center;
}

.search_box {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid var(--border);
}

.search_box input {
    border: 0;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
}

.search_btn {
    display: inline-block;
    height: 40px;
    margin-left: 5px;
    padding: 0 20px;
    font-size: 16px;
    background-color: var(--daeyeo);
    color: #FFFFFF;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.icon_list {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 25px;
    background-color: var(--background);
    border-radius: 30px;
}

.category_list:after, .icon_list:after {
    content: '';
    display: block;
    clear: both;
}

.icon_list li {
    padding: 5px 0;
    float: left;
    margin-right: 30px;
}

.icon_list li:last-child {
    margin: 0;
}

.icon {
    display: inline-block;
    padding-left: 40px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px auto;
    font-size: 16px;
}

.icon.online {
    background-image: url("../../img/rental/online_icon.png");
}

.icon.visit {
    background-image: url("../../img/rental/visit_icon.png");
}

.icon.call {
    background-image: url("../../img/rental/phone_icon.png");
}

.icon.site {
    background-image: url("../../img/rental/site_icon.png");
}

.order_field {
    display: block;
    line-height: 44px;
    margin-bottom: 10px;
    background-image: url("../../img/rental/stack_icon.png");
}

.emphasis {
    color: #FF0000;
    font-weight: 1000;
    font-size: 1.2em;
}

.order_box {
    float: right;
}

.select_order {
    display: inline-block;
    width: 130px;
    line-height: 44px;
    vertical-align: middle;
}

.select_order select {
    padding: 0 20px 0 10px;
    border: none;
    appearance: none;
    font-size: 15px;
    background-image: url("../../img/rental/down_arrow_icon.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10px auto;
    cursor: pointer;
}

.select_order select:focus {
    outline: none;
}

.type_btn {
    line-height: 44px;
    padding: 0 20px;
    font-size: 15px;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.type_btn.active {
    filter: invert(45%) sepia(15%) saturate(3135%) hue-rotate(184deg) brightness(86%) contrast(87%);
}

.board_type, .list_type {
    display: inline-block;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px auto;
}

.board_type {
    background-image: url("../../img/rental/window_icon.png");
}

.list_type {
    background-image: url("../../img/rental/list_icon.png");
}

.page_box {
    margin-top: 30px;
    text-align: center;
}

.page_box a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--border);
    border-radius: 20px;
    vertical-align: top;
    margin: 0 2px;
}

.page_box .icon {
    background-position: center;
    background-size: 10px auto;
    padding: 0;
}

.prev_first {
    background-image: url("../../img/rental/double_left_arrow_icon.png");
}

.prev {
    background-image: url("../../img/rental/left_arrow_icon.png");
}

.next {
    background-image: url("../../img/rental/double_left_arrow_icon.png");
    transform: rotate(180deg);
}

.next_last {
    background-image: url("../../img/rental/left_arrow_icon.png");
    transform: rotate(180deg);
}

.page_box ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.page_box ul li {
    display: inline-flex;
}

.page_box ul li a {
    border: 0;
}

.page_box a.active {
    background: var(--daeyeo);
    color: #FFFFFF;
}