<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>대여대여 로그인</title>
    <link th:href="@{/css/footer_bottom.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/login_style.css}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/assets/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<div class="body_container">
    <!-- header -->
    <div th:replace="~{/includes/header}"></div>
    <div class="main_content">
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">비밀번호를 잊으셨나요?</h1>
                                        <p class="mb-4">회원가입하신 이메일과 전화번호를 입력하시면 임시 비밀번호를 만들어드립니다.</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="inputPhoneNum" aria-describedby="phoneHelp"
                                                   placeholder="010-1234-5678">
                                        </div>

                                        <a href="login.html" class="btn btn-primary btn-user btn-block">
                                            임시 비밀번호 받기
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="./register">회원가입</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="./memberLogin">계정이 있으시다면? 로그인하기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- footer -->
    <div th:replace="/includes/footer"></div>
</div>
</body>
</html>