<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- BootStrap CSS File -->
    <link th:href="@{/css/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/assets/css/style.css}" rel="stylesheet" type="text/css">
    <!-- Dropzone CSS File -->
    <link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css">
    <!-- CSS File -->
    <link th:href="@{/css/rental/rental_registration_form.css}" rel="stylesheet" type="text/css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <meta charset="UTF-8">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>대여 등록 양식 | 대여대여</title>
</head>
<body>
<div class="wrapper">
    <div th:include="/includes/header"></div>
    <form th:action="@{/rentals/rentalRegistrationForm}" method="post" class="container" th:object="${rentalRegister}" enctype="multipart/form-data" id="rentalRegisterForm">
        <div class="content-title">대여 등록</div>
        <div class="content">
            <ul class="card">

                <li class="item">
                    <div class="item-title">분류</div>
                    <div class="item-content">
                        <div class="category">
                            <select id="mainCategorySelect" class="main-cate form-select">
                                <option th:each="mainCategory : ${mainCategoryList}" th:value="${mainCategory.mcId}" th:text="${mainCategory.mcId}"></option>
                            </select>
                            <select id="subCategorySelect" class="sub-cate form-select" aria-label="Default select example">
                                <option value="">장소를 선택해주세요</option>
                            <input type="hidden" th:field="*{scId}" readonly />
                                <div th:if="${scIdChoice}" th:text="${scIdChoice}" style="color: red;"></div>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">제목</div>
                    <div class="item-content">
                        <input type="text" class="txt" th:field="*{objectName}">
                        <p th:if="${#fields.hasErrors('objectName')}" th:errors="*{objectName}">Incorrect date</p>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">대상</div>
                    <div class="item-content">
                        <input type="text" class="txt" name="target">
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용요금</div>
                    <div class="item-content">
                        <input type="number" class="num" th:field="*{usageFee}"><b>원</b>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">웹사이트</div>
                    <div class="item-content">
                        <input type="text" class="txt" th:field="*{webSite}">
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">사진</div>
                    <div class="item-content">
                        <div class="dropzone" id="myDropzone"></div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">주소</div>
                    <div class="item-content address">
                        <input type="text" class="txt" th:field="*{address.address}" tabindex="-1" readonly>
                        <p th:if="${#fields.hasErrors('address.address')}" th:errors="*{address.address}">Incorrect date</p>
                        <input type="hidden" class="txt" th:field="*{address.postcode}" tabindex="-1" readonly>
                        <input type="hidden" class= "txt" th:field="*{address.sido}" tabindex="-1" readonly>
                        <input type="hidden" class="txt" th:field="*{address.sigungu}" tabindex="-1" readonly>
                        <input type="text" class="txt" th:field="*{address.detailAddress}">
                        <p th:if="${#fields.hasErrors('address.detailAddress')}" th:errors="*{address.detailAddress}">Incorrect date</p>
                        <a class="a-btn find-address-btn" data-bs-toggle="modal"
                           data-bs-target="#modalDialogScrollable">주소</a>
                    </div>
                </li>
                <!-- Modal Dialog Scrollable -->
                <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">대여대여 | 주소 찾기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="find-address"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div><!-- End Modal Dialog Scrollable-->

                <li class="item">
                    <div class="item-title">접수기간</div>
                    <div class="item-content">
                        <div class="reception">
                            <input type="date" th:field="*{applicationPeriodDto.startDate}">
                            <p th:if="${#fields.hasErrors('applicationPeriodDto.startDate')}" th:errors="*{applicationPeriodDto.startDate}">Incorrect date</p>
                            <span>~</span>
                            <input type="date" th:field="*{applicationPeriodDto.endDate}">
                            <p th:if="${#fields.hasErrors('applicationPeriodDto.endDate')}" th:errors="*{applicationPeriodDto.endDate}">Incorrect date</p>
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용기간</div>
                    <div class="item-content">
                        <div class="use">
                            <input type="date" th:field="*{usagePeriodDto.startDate}">
                            <p th:if="${#fields.hasErrors('usagePeriodDto.startDate')}" th:errors="*{usagePeriodDto.startDate}">Incorrect date</p>
                            <span>~</span>
                            <input type="date" th:field="*{usagePeriodDto.endDate}">
                            <p th:if="${#fields.hasErrors('usagePeriodDto.endDate')}" th:errors="*{usagePeriodDto.endDate}">Incorrect date</p>
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용시간</div>
                    <div class="item-content">
                        <div class="use">
                            <div class="row mb-3">
                                <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="time" class="form-control" th:field="*{usagePeriodDto.startTime}">
                                    <p th:if="${#fields.hasErrors('usagePeriodDto.startTime')}" th:errors="*{usagePeriodDto.startTime}">Incorrect date</p>
                                </div>
                            <span>~</span>
                                <div class="row mb-3">
                                    <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control" th:field="*{usagePeriodDto.endTime}">
                                        <p th:if="${#fields.hasErrors('usagePeriodDto.endTime')}" th:errors="*{usagePeriodDto.endTime}">Incorrect date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

                <li class="item">
                    <div class="item-title">최대인원</div>
                    <div class="item-content">
                        <input type="number" class="num" th:field="*{maxPerson}"><b>명</b>
                    </div>
                </li>
            <li class="item">
                <div class="item-title">최대인원</div>
                <div class="item-content">
                    <input type="number" class="num" th:field="*{cancellation}"><b>원</b>
                </div>
            </li>
                <li class="item">
                    <div class="item-title">문의전화</div>
                    <div class="item-content">
                        <div class="phone">
                            <input type="text" th:field="*{inquiryPhone}">
                            <p th:if="${#fields.hasErrors('inquiryPhone')}" th:errors="*{inquiryPhone}">Incorrect date</p>
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용안내</div>
                    <div class="item-content">
<!--                        <iframe th:src="@{/txtEditor}" class="txt-editor" scrolling="no"></iframe>-->
                        <input type="hidden" name="useInfo" value="">
                    </div>
                </li>
            </ul>
            <div class="btn-box">
                <input type="submit" class="btn btn-primary btn-user btn-block"
                       value="등록하기">
                <input type="button" id="test" class="btn btn-primary btn-user btn-block"
                       value="test">
            </div>
        </div>
    </form>
    <div th:replace="/includes/footer"></div>
</div>
</body>
<!-- BootStrap JS File -->
<script th:src="@{/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Dropzone JS File -->
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<!-- Kakao Local JS File -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- jquery library load-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- JS File -->
<script defer th:src="@{/js/rental/rentalRegistrationForm.js}"></script>
</html>