<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- BootStrap CSS File -->
    <link th:href="@{/css/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/assets/css/style.css}" rel="stylesheet" type="text/css">
    <!-- CSS File -->
    <link th:href="@{/css/rental/rental_list.css}" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>공간시설 목록 | 대여대여</title>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-S11E29LT0T');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&amp;l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-58QHFKS');
    </script>
    <!-- End Google Tag Manager -->
</head>
<body>
<div class="wrapper">
    <div th:replace="~{/includes/header :: header(isLogined = ${isLogined}, isAdmin = ${isAdmin})}"></div>
    <form id="rentalListFrm" class="contents" action="/rentals/list" method="get" th:object="${searchSpec}">
        <input type="hidden" th:field="*{sido}">
        <input type="hidden" th:field="*{sigungu}">
        <div class="category_wrap">
            <div class="category_list">
                <input type="hidden" th:field="*{mainCategory}">
                <input type="hidden" th:field="*{subCategory}">
                <a th:class="${#strings.isEmpty(searchSpec.subCategory)} ? 'cate-btn active' : 'cate-btn'">전체</a>
                <div th:each="category : ${categories}">
                    <a href="#"
                       th:class="${#strings.equals(searchSpec.subCategory, category)} ? 'cate-btn active' : 'cate-btn'"
                       th:text="${category}"></a>
                </div>
            </div>
            <div class="search">
                <label class="search_box">
                    <input type="text" id="search-word" placeholder="검색어를 입력하세요." th:field="*{searchWord}">
                </label>
                <a href="#" id="search" class="a-btn">검색</a>
            </div>
        </div>
        <!--
        <ul class="icon_list">
            <li>
                <span class="icon online">온라인 예약</span>
            </li>
            <li>
                <span class="icon visit">방문 예약</span>
            </li>
            <li>
                <span class="icon call">전화 예약</span>
            </li>
            <li>
                <span class="icon site">외부 사이트</span>
            </li>
        </ul>
        -->
        <div class="rental_list_wrap">
            <h5 class="icon order_field">
                총 <span class="emphasis" th:text="${rentalObjects.totalElements}"></span> 건
                <div class="order_box">
                    <select class="form-select" th:field="*{sort}">
                        <option value="receipt" th:selected="${#strings.equals(searchSpec.sort, 'receipt')}">접수기간 순
                        </option>
                        <option value="usage" th:selected="${#strings.equals(searchSpec.sort, 'usage')}">이용기간 순</option>
                        <option value="region" th:selected="${#strings.equals(searchSpec.sort, 'region')}">지역명 순
                        </option>
                    </select>
                    <button type="button" id="board-type" class="btn">
                        <span class="board-btn">보드형</span>
                    </button>
                    <button type="button" id="list-type" class="btn active">
                        <span class="list-btn">목록형</span>
                    </button>
                </div>
            </h5>
            <div class="object-form">
                <ul id="rental-list" class="list-type">
                    <li th:each="rentalObject : ${rentalObjects}">
                        <a th:href="@{'/rentals/write/' + ${rentalObject.objectIndex}}" class="rental-object">
                            <div class="img_box">
                                <span class="board-state">대여가능</span>
                                <img th:src="@{/img/rental/image_icon.png}" alt="사진">
                            </div>
                            <div class="description">
                                <div class="top_box">
                                    <div class="list-state">대여가능</div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" th:text="${rentalObject.mcId}"></li>
                                        <li class="breadcrumb-item" th:text="${rentalObject.scId}"></li>
                                    </ol>
                                </div>
                                <div class="title" th:text="${rentalObject.objectName}"></div>
                                <ul class="obj_info">
                                    <li>
                                        <span class="place icon">장소</span>
                                        <span class="obj" th:text="${rentalObject.address.detailAddress}"></span>
                                    </li>
                                    <li>
                                        <span class="price icon">이용요금</span>
                                        <span class="obj" th:text="${rentalObject.usageFee}"></span>
                                    </li>
                                    <li>
                                        <span class="reception_period icon">접수기간</span>
                                        <span th:text="${rentalObject.applicationPeriod != null} ?
                                        ${rentalObject.applicationPeriod.startDate} + ' ~ ' +
                                        ${rentalObject.applicationPeriod.endDate} : '기간을 정하지 않았습니다.'"></span>
                                    </li>
                                    <li>
                                        <span class="use_period icon">이용기간</span>
                                        <span th:text="${rentalObject.usagePeriod != null} ?
                                        ${rentalObject.usagePeriod.startDate} + ' ~ ' +
                                        ${rentalObject.usagePeriod.endDate} : '기간을 정하지 않았습니다.'"></span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="pagination"
                th:with="start=${T(java.lang.Math).max(0, T(java.lang.Math).min(rentalObjects.number - 2, rentalObjects.totalPages - 5))},
                end=${T(java.lang.Math).min(rentalObjects.totalPages - 1, T(java.lang.Math).max(rentalObjects.number + 2, 4))}">
                <li class="page-item" th:classappend="${rentalObjects.first ? 'disabled' : ''}">
                    <a class="page-link" href="#" data-value="1">
                        <img th:src="@{/img/rental/double_left_arrow_icon.png}" alt="<<">
                    </a>
                </li>
                <li class="page-item" th:classappend="${rentalObjects.first ? 'disabled' : ''}">
                    <a class="page-link" href="#" th:data-value="${rentalObjects.number}">
                        <img th:src="@{/img/rental/left_arrow_icon.png}" alt="<">
                    </a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(start, end)}">
                    <li class="page-item" th:if="${rentalObjects.totalPages > i}"
                        th:classappend="${i == rentalObjects.number ? 'active' : ''}">
                        <a class="page-link" href="#" th:data-value="${i + 1}" th:text="${i + 1}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${rentalObjects.last ? 'disabled' : ''}">
                    <a class="page-link" href="#" th:data-value="${rentalObjects.number + 2}">
                        <img th:src="@{/img/rental/left_arrow_icon.png}" alt=">">
                    </a>
                </li>
                <li class="page-item" th:classappend="${rentalObjects.last ? 'disabled' : ''}">
                    <a class="page-link" href="#" th:data-value="${rentalObjects.totalPages}">
                        <img th:src="@{/img/rental/double_left_arrow_icon.png}" alt=">>">
                    </a>
                </li>
            </ul>
        </div>
    </form>
    <div th:replace="~{/includes/footer}"></div>
</div>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58QHFKS"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- JS File -->
<script th:src="@{/js/rental/rentalList.js}" type="text/javascript"></script>
</html>