<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- BootStrap CSS File -->
    <link th:href="@{/css/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/assets/css/style.css}" rel="stylesheet" type="text/css">
    <!-- Dropzone CSS File -->
    <link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" rel="stylesheet" type="text/css"/>
    <!-- CSS File -->
    <link th:href="@{/css/rental/rental_registration_form.css}" rel="stylesheet" type="text/css">

    <meta charset="UTF-8">
    <title>대여 등록 양식 | 대여대여</title>
</head>
<body>
<div class="wrapper">
    <!--<div th:include="../includes/header"></div>-->
    <form th:action="@{/rental/register.do}" class="container" th:object="${registerDto}">
        <div class="content-title">대여 등록</div>
        <div class="content">
            <ul class="card">

                <li class="item">
                    <div class="item-title">분류</div>
                    <div class="item-content">
                        <div class="category">
                            <select name="mcId" class="main-cate form-select">
                                <option value="" selected>선택</option>
                            </select>
                            <select name="scId" class="sub-cate form-select" aria-label="Default select example">
                                <option th:field="*{scId}" selected>선택</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">제목</div>
                    <div class="item-content">
                        <input type="text" class="txt" th:field="*{objectName}">
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">대상</div>
                    <div class="item-content">
                        <input type="text" class="txt" name="target">
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용요금</div>
                    <div class="item-content">
                        <input type="number" class="num" th:field="*{usageFee}"><b>원</b>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">장소</div>
                    <div class="item-content">
                        <input type="text" class="txt" th:field="*{place}">
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">웹사이트</div>
                    <div class="item-content">
                        <input type="text" class="txt" th:field="*{webSite}">
                    </div>
                </li>

                <!-- 구현안됨 -->
                <!--
                <li class="item">
                    <div class="item-title">사진</div>
                    <div class="item-content">
                        <div class="dropzone" id="myDropzone"></div>
                    </div>
                </li>
                -->

                <li class="item">
                    <div class="item-title">주소</div>
                    <div class="item-content address">
                        <input type="text" class="txt" name="roadAddress" tabindex="-1" readonly>
                        <a class="a-btn find-address-btn" data-bs-toggle="modal"
                           data-bs-target="#modalDialogScrollable">주소 찾기</a>
                    </div>
                    <!--<input type="hidden" id="zipCode" name="zipCode"/>-->
                    <!--<input type="hidden" id="jibunAddress" name="jibunAddress"/>-->
                    <!--<input type="hidden" id="sido" name="sido"/>-->
                    <!--<input type="hidden" id="sigungu" name="sigungu"/>-->
                    <input type="hidden" th:field="*{address.address}">
                    <input type="hidden" th:field="*{address.extraAddress}">
                    <input type="hidden" th:field="*{address.detailAddress}">
                    <input type="hidden" th:field="*{address.postcode}">
                </li>
                <!-- Modal Dialog Scrollable -->
                <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">대여대여 | 주소 찾기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="find-address"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div><!-- End Modal Dialog Scrollable-->

                <li class="item">
                    <div class="item-title">접수기간</div>
                    <div class="item-content">
                        <div class="reception">
                            <input type="date" th:field="*{applicationPeriod.startDate}">
                            <span>~</span>
                            <input type="date" th:field="*{applicationPeriod.endDate}">
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용기간</div>
                    <div class="item-content">
                        <div class="use">
                            <input type="date" th:field="*{usagePeriod.startDate}">
                            <span>~</span>
                            <input type="date" th:field="*{usagePeriod.endDate}">
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용시간</div>
                    <div class="item-content">
                        <div class="use">
                            <input type="date" th:field="*{usagePeriod.startTime}">
                            <span>~</span>
                            <input type="date" th:field="*{usagePeriod.endTime}">
                        </div>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">최대인원</div>
                    <div class="item-content">
                        <input type="number" class="num" th:field="*{maxPerson}"><b>명</b>
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">문의전화</div>
                    <div class="item-content">
                        <div class="phone">
                            <input type="text" name="firstNum" maxlength="3"/>
                            <span>-</span>
                            <input type="text" name="middleNum" maxlength="4"/>
                            <span>-</span>
                            <input type="text" name="lastNum" maxlength="4"/>
                        </div>
                        <input type="hidden" th:field="*{inquiryPhone}">
                    </div>
                </li>

                <li class="item">
                    <div class="item-title">이용안내</div>
                    <div class="item-content">
                        <iframe th:src="@{/txtEditor}" class="txt-editor" scrolling="no"></iframe>
                        <input type="hidden" name="useInfo" value="">
                    </div>
                </li>
            </ul>

            <div class="btn-box">
                <a href="" class="a-btn">취소하기</a>
                <a href="" class="registration a-btn">등록하기</a>
            </div>
        </div>
    </form>
    <div th:replace="~{/includes/footer :: footer}"></div>
</div>
</body>
<!-- BootStrap JS File -->
<script th:src="@{/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Dropzone JS File -->
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<!-- Kakao Local JS File -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- JS File -->
<script th:src="@{/js/rental/rentalRegistrationForm.js}"></script>
</html>