.parentContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
}

.my_content {
    margin: 40px;
    display: flow-root;
    justify-content: flex-start;
}


.childContainer {
    grid-column: 3 / span 3;
}

.TableParentContainer {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    /*grid-template-rows: repeat(3, 0.5fr);*/
}

.TableChildContainer {
    width: 100%;
    height: 100%;
    /*grid-row-start: 2;*/
    /*grid-column-start: 2;*/
    grid-column: 2 /span 3;
}

.inFormTable {
    border-collapse: collapse; /* 셀 경계선 합치기 */
    align-items: center;
}

.divInform {
    margin-right: inherit;
    float: left;
}


.wishContainer {
    grid-column: 5 / span 8;
}

.h2_container {
    grid-column: 2 / span 3;
}


.left_left {
    border: none;
    text-align: left;
}

.core {
    border: none;
}

td,
th {
    border: 1px solid black; /* 셀 경계선 설정 */
    padding: 20px; /* 셀 안쪽 여백 설정 */
    text-align: center; /* 가운데 정렬 */
}

#modifyInfo {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
}

@media screen and (max-width: 600px) {
    /* 반응형 디자인 */
    .inFormTable {
        margin-left: 0; /* 왼쪽 여백 제거 */
    }
}

#h2 {
    margin-top: 30px;
}

.btn {
    border: none;
    background-color: transparent;
}

.delete_member {
    color: white;
    border-color: white;
    background-color: #ff2f2f;
}



     /* 모달을 감싸는 컨테이너 */
 .modal-container {
     display: none; /* 초기에는 숨김 */
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
 }

.modal-container > .modal-content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 255, 0.5);
    max-width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
div.modal-content{
    color: #fff; /* 흰색 텍스트 색상 */
}